* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #669ED6;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    min-width: 1320px;
}


/* ν—¤λ” S */
header {
    background-color: #669ED6;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_in {
    width: 90%;
    min-width: 1320px;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.header_in ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}


.header_in ul li {
    padding: 10px;
}

.header_in ul li a {
    color: #fff;
}

.header_in ul li a:hover {
    color: #052749;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.top{
    background: url(./image/bg.png) no-repeat center top;
    height: 445px;
    width: 100%;
    background-size: cover;
}

.box{
    width: 1320px;
    margin: auto;
    background:url(./image/icon.png) no-repeat 18% 70%;
    padding: 200px 0;
}

.box p{
    text-align: center;
    color: #858585;
    font-size: 17px;
}

h1{
    color: #669ED6;
    font-size: 40px;
    padding-top: 222px;
    text-align: center;
    /* letter-spacing: 8px; */
    font-family: 'GmarketSans';
}

h3{
    color: #669ED6;
    font-size: 25px;
    text-align: center;
    margin-bottom: 55px;
    font-family: 'GmarketSans';
}

.box p:nth-child(3){
    margin-top: 70px;
}



h2{
    color: #669ED6;
    font-size: 30px;
    text-align: center;
    margin: 80px 0 60px 0;
    font-family: 'GmarketSans';
}

.box2{
    width: 1040px;
    margin: 20px auto;
    border: #AFAFAF 1px solid;
     background: url(./image/class_p.png) no-repeat right center;

}


.text{
    padding: 132px 56px 98px
}

.text table{
    width: 380px;
}

.text table b{
    display: inline-block;
    background-color: #669ED6;
    color: #fff;
    padding: 2px 8px 4px 7px;
    border-radius: 50%;
    font-size: 12px;
}

.text table th{
    font-size: 20px;
    color: #669ED6;
    padding: 5px 10px 5px 0;
    text-align: left;
}

.text table td{
    color: #858585;
}

h4{
    font-family: 'GmarketSans';
    color: #6B6B6B;
    font-size: 20px;
    margin-bottom: 10px;
}

h5{
    font-family: 'GmarketSans';
    color: #669ED6;
    font-size: 20px;
    margin-bottom: 20px;
}

.text tr{
    margin-bottom: 10px;
}

.box3{
  width: 1040px;
    margin: auto;
    margin-bottom: 180px;
    text-align: center;
}

.box3 table{
   border-top: #000000 2px solid;
    width: 100%;
    border-collapse: collapse;
}

.box3 th, .box3 td{
 border: #ebebeb 1px solid;
 padding: 20px;
}

.box3 tr th:nth-child(1){
    border-left: 0;
}

.box3 tr :nth-child(4){
    border-right: 0;
}

.box3 tr:nth-child(1){
    background-color: #f7f7f7;
}

.box4{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1233px;
    margin: auto;
    
}

.box4 .img2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
 
}

.img1{
    position: relative;
    border-top: 1px solid #fff;
    border-left: 0.5px solid #fff;
    border-right: 0.5px solid #fff;
    overflow: hidden;
}

.img3{
    width: 794px;
}

.img2{
    /* width: calc(397px * 2); */
}
.img1 img{
    display: block;
    transition: all 1s;
}
.img1 p{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    font-size: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.box4 .img1:hover p{
    opacity: 1;
}

.box4 .img1:hover img{
    transform: scale(1.2, 1.2);
}

/* ν‘Έν„° S */
footer {
    background-color: #669ED6;
    padding: 50px;
    margin-top: 120px;
}

.footer_in{
    width: 1320px;
    margin: auto;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    align-items: center;
}

.footer_in div{
    margin-left: 50px;
}

.footer_in div ul{
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
 }

 .footer_in div ul li a{
    color: #fff;
    padding: 30px 45px 20px 0;
}

.footer_in div ul li a:hover{
    color: #185796
}

.footer3{
    margin-top: 20px;
    color: #fff;
}


.sns{
    margin-left: auto; 
    
}

.sns li a{
    color: #fff;
    display: block;
    padding: 0 0 0 15px;
    font-size: 12px;
}
.sns li:nth-child(1) a{
    background: url(./image/f_in.png) no-repeat left center;
}

.sns li:nth-child(2) a{
    background: url(./image/f_e.png) no-repeat left center;
}

.sns li:nth-child(3) a{
    background: url(./image/f_k.png) no-repeat left center;
}

.sns li a:hover{
    color: #185796
}
